/* header */

.header{
   border: 3px solid black;
   font-size: 20px;
   height: 100px;
}
.nav{
   border: 3px solid black;
   margin: 5px 20px;
   height: 35px;
}
.header p{
   padding: 5px;
}

/* section */

.section{
 
   border: 3px solid black;
   margin-top: 15px;
   height: 350px;
   font-size: 20px;
   padding: 5px;
}
.article{
   border: 3px solid black;
   margin: 20px 15px;
   padding: 5px;
   height: 200px;
}
.article1{
   font-size: 20px;
   line-height:2;
   margin: 15px 20px;
}
.header1,.section1,.footer1{
   border: 3px solid black;
   margin-bottom: 7px;
   padding: 0 10px;
}
.section-a{
   
   border: 3px solid black;
   margin-top: 15px;
   height: 350px;
   font-size: 20px;
   padding: 5px;
   
}
.section-b{
   border: 3px solid black;
   height: 75px;
   padding: 5px;
   margin: 10px 10px;
}
.footer{
   border: 3px solid black;
   margin: 0 75px;
   height: 100px;
   margin-bottom: 50px;
   font-size: 20px;
   padding: 15px;
}