* {
    font-family: 'Poppins', sans-serif;
    color: #222;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.container {
    margin: 100px auto;
    width: 300px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgb(8 7 16 / 30%);
    font-family: 'Poppins', sans-serif;
    padding: 0px 40px;
    border-radius: 6px;
    padding-top: 110px;
}

.login {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.container label {
    margin-bottom: 5px;
}

input[type="text"]{
    margin-bottom: 20px;
    padding: 15px 30px;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input i{
    position: relative;
    top: 31px;
    left: 10px;
    color: gray;
    width: 0;
    cursor: pointer;
}

.login-button {
    width: 100%;
    background-color: #26a69a;
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
    margin-bottom: 10px;
}

.login-button:hover {
    opacity: 1;
}

.container a {
    display: inline-block;
    color: #e65100;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}

.circles {
    position: absolute;
    z-index: -1;
}

.first-circle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background: linear-gradient(#5c6bc0, #7986cb);
    position: absolute;
    top: -190px;
    left: -115px;
}

.second-circle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background: linear-gradient(to right, #ec5f64, #ee6e73);
    position: absolute;
    top: 300px;
    left: 260px;
}