.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.font-family {
    font-family: "Ubuntu", sans-serif;
}

.color-blue {
    color: #4cd6ee;
}

.color-gray {
    color: gray;
}

.font-weight {
    font-weight: 600;
}

.flex-direction {
    flex-direction: column;
}